body{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:Whyte, sans-serif;
    overflow-x:hidden;
}
.image_logo{
    height:50px;
    width:50px;
}
nav{
    display:flex;
    width:100%;
    justify-content:space-between;
    align-items:center;
    padding-top:20px;
    padding-right:20px;
    padding-left:20px;
    padding-bottom:15px;
}
.nav_items{
    display:flex;
    gap:35px;
}
.nav_items img{
    height:15px;
    width:15px;
}
.products_div,
.enterprise_div,
.pricing_div,
.log_in,
.button_class,
.community_div,
.company_div,
.menu{
    display:flex;
    align-items:center;
    cursor:pointer;
}
.community_div,
.enterprise_div,
.products_div{
    position:relative;
}
.products_tooltip{
    position:absolute;
    display:flex;
    width:580px;
    bottom:-435px;
    right:-250px;
    border:2px solid;
    background:#fff;
    opacity:0;
}
.products_tooltip p:hover{
    text-decoration:underline;
}
.ttp_oneProducts{
    flex:1;
    padding-top:15px;
    padding-right:15px;
    padding-left:15px;
    border-right:2px solid;
}
.ttp_twoProducts{
    flex:1;
    padding-top:15px;
    padding-right:15px;
    padding-left:15px;
}
.products_tooltip img{
    width:100%;
    height:150px;
}
.enterprise_tooltip{
    width:120px;
    position:absolute;
    bottom:-120px;
    border:2px solid;
    padding-top:5px;
    padding-right:15px;
    padding-left:15px;
    right:-35px;
    display:none;
    background:#fff;
}
.enterprise_tooltip p:hover{
    text-decoration:underline;
}
.enterprise_div:hover .enterprise_tooltip{
    display:block;
}
.enterprise_tooltip p{
    margin-bottom:10px;
}
.community_tooltip{
    display:flex;
    width:800px;
    border:2px solid #000;
    color:grey;
    position:absolute;
    bottom:-310px;
    right:-300px;
    background:#fff;
    opacity: 0;
}
.div_com:hover .community_tooltip{
    opacity:1;
}
.small_margin{
    margin-bottom:18px;
}
.community_tooltipPartOne{
    display:flex;
    flex:3;
}
.community_tooltipTwo,
.community_tooltipOne{
    padding:20px;
    flex:1;
}
.community_tooltipTwo{
    border-right:2px solid #000;
}
.community_tooltipPartTwo{
    padding:20px;
}
.files_tempalates{
    font-size:20px;
    color:#000;
}
.files_tempalates:hover{
    text-decoration:underline;
}
.community_tooltipPartTwo p:hover{
    text-decoration:underline;
}
.community_tooltipTwo img,
.community_tooltipOne img{
    width:100%;
    height:150px;
}
.community_imageTwo{
    width:100px;
    height:100px;
}
.community_tooltipPartTwo{
    flex:1;
}
.design,
.prototyping,
.design{
    margin-bottom:20px;
}
.image_ttpOne{
    height:200px;
}
.figma_heading{
    font-size:20px;
}
.figma_content p{
    color:grey;
}
.products_div:hover{
    text-decoration:underline;
}

.enterprise_div:hover{
    text-decoration:underline;
}

.company_div{
    position:relative;
}
.company_toolkit{
    position:absolute;
    border:2px solid #000;
    padding-right:20px;
    padding-left:20px;
    bottom:-190px;
    right:-10px;
    display:none;
    background:#fff;
}
.company_div:hover .company_toolkit{
    display:block;
}
.company_toolkit p:hover{
    text-decoration:underline;
}
.pricing_div:hover{
    text-decoration:underline;
}
.log_in:hover{
    text-decoration:underline;
}
.community_div:hover{
    text-decoration:underline;
}
.button_class{
    padding-top:3px;
}
.menu img{
    height:25px;
    width:25px;
    display:none;
}
.get_started{
    height:40px;
    background:#5551ff;
    border:none;
    color:#fff;
    width:150px;
    border-radius:10px;
    font-size:15px;;
    font-weight:bold;
    transition:transform 0.15s;
    cursor:pointer;
}
.company_div:hover{
    text-decoration:underline;
}
.videoOne_div{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.first_video{
    width:50%;
}
.figma_connects{
    font-size:22px;
    width:40%;
    text-align:center;
    line-height:31.9px;
    letter-spacing:0.5px;
}
.button_getStarted{
    font-size:18px;
    font-weight:700;
    line-height:18px;
    background:#5551ff;
    border:none;
    padding:14px 24px 16px;
    color:#fff;
    border-radius:10px;
    margin-top:30px;
}
.button_getStarted:hover{
    transform:translateY(-10px);
}
.background_nahi_hai{
    width:100%;
    height:auto;
    margin-top:30px;
}
.another_idea{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.explore_moreIdeas{
    font-size:4rem;
    font-weight:bold;
    line-height:73px;
    color:#000;
    text-align:center;
    width:70%;
}
.another_whether{
    width:60%;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:50px;
    margin-bottom:30px;
}
.whether{
    font-size:1.375rem;
    line-height:1.994rem;
    text-align:center;
    width:70%;
}
.div_anotherBackground{
    width:100%;
}
.explore_divWithImages{
    display:flex;
    align-items:center;
    justify-content:center;
}
.explore_anotherDiv{
    display:flex;
    align-items:center;
    justify-content:center;
    flex:1;
    padding-left:150px;
}
.explore_ideas p{
    font-size:2.25rem;
    font-weight:bold;
    line-height:2.7rem;
    width:50%;
}
.explore_ideas div{
    font-size:1.125rem;
    line-height:1.688rem;
    width:50%;
}
.explore_ideas button{
    background:#000;
    color:#fff;
    padding:14px 24px 16px;
    font-size:1.125rem;
    border:none;
    border-radius:10px;
    margin-top:30px;
}
.exploreImages{
    flex:1;
}
.exploreImages img{
    height:auto;
    width:70%;
}
.yellow_div{
    background:#fec600;
    padding:100px 10%;
    margin-top:30px;
}

.yellow_one{
    font-size:2.25rem;
    font-weight:bold;
    color:#000;
    line-height:2.7rem;
}

.yellow_two{
    margin-top:50px;
    font-size:1.375rem;
    font-weight:400;
    line-height:1.994rem;
}
.join_other{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:40px 25%;
}
.join_define{
    font-size:1.125rem;
    line-height:1.688;
    text-align:center;
}
.join_logo img{
    height:40px;
    width:40px;
    margin-right:20px;
    margin-top:150px;
}
.see_all{
    text-decoration:underline;
    margin-top:150px;
    font-size:1rem;
    cursor: pointer;
}
.join_community{
    color:#fff;
    background:#000;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
    padding:60px 0%;
}
.join_community p{
    font-size:2rem;
    font-weight:bold;
    line-height:2.7rem;
}
.join_community div{
    width:70%;
    text-align:center;
    font-size:1.375rem;
    line-height:1.994rem;
}
.hard_div{
    display:flex;
    flex-direction:column;
    padding:100px 5%;
    background:#000;
}
.buzz{
    font-size:0.875rem;
    color:#fec600;
    margin-bottom:5px;
}
.excellent{
    color:#fff;
    margin-bottom:10px;
}
.hard_images{
    display:flex;
    gap:20px;
}
.hard_images img{
    width:33%;
    height:auto;
}

@media (max-width:950px){
    .div_anotherBackground{
        width:100%;
    }
    body{
        overflow-x:hidden;
    }
    .products_div,
    .enterprise_div,
    .pricing_div,
    .log_in,
    .community_div,
    .company_div{
        display:none;
    }
    .nav_items{
        padding-right:40px;
    }
    .menu img{
        display:block;
    }
    .explore_anotherDiv{
        display:flex;
        align-items:center;
        justify-content:center;
    }
    .explore_divWithImages{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    .exploreImages{
        display:flex;
    }
}